<%= render :partial => 'listing', :@collection => @listing %>

<p><strong>People who have applied to this listing</strong></p>
<% @applicants.each do |applicant| %>
<p><%= h(User.find(applicant.user_id).login) %></p>
<% end %>

<p><%= link_to 'Back' , listings_path %>
<%= link_to 'Edit' , edit_listing_path(@listing) %></p>


<% if @comments.count > 0 %>
	<p><strong>Displaying Comments</strong></p>
	<%= render :partial => 'comment', :collection => @comments %>
<% end %>
<%= render :partial => 'new_comment' %>
