<%= render :partial => 'listing', :@collection => @listing %>

<p><strong>People who have applied to this listing</strong></p>
<div id ="indent">
<% @applicants.each do |applicant| %>
	<% unless applicant.user_id == current_user.id %>
		<%= h(User.find(applicant.user_id).login.capitalize) %><br />
	<% else %>
		You<br />
	<% end %>
<% end %>
</div>
<p><%= link_to 'Back' , listings_path %>
<%= link_to 'Edit' , edit_listing_path(@listing) %></p>


<% if @comments.count > 0 %>
	<p><strong>Displaying Comments</strong></p>
	<%= render :partial => 'comment', :collection => @comments %>
<% end %>
<%= will_paginate @comments %>
<%= render :partial => 'new_comment' %>
