<div id="listings">
	<%= render :partial => 'listing', :object => @listing %>
</div>
<p><%= link_to 'Apply to Listing', applications_url(:listing_id => @listing.id), :method => :post unless @listing.owner?(current_user.id) %></p>

<p><%= link_to 'Back' , listings_path %>
<%= link_to 'Edit Listing' , edit_listing_path(@listing) if @listing.owner?(current_user.id)%></p>

<% if @applications.count > 0 %>
	<p><strong>People who have applied to this listing</strong></p>
	<div id ="indent">
	<% @applications.each do |application| %>
		<% unless application.user_id == current_user.id %>
			<%= h(User.find(application.user_id).login.capitalize) %><br />
		<% else %>
			You<br />
		<% end %>
	<% end %>
	</div>
<% end %>


<hr />

<div id="comments">
<% if @comments.count %>
	<p><strong>Displaying Comments</strong></p>
	
	<%= render :partial => @comments %>
<% end %>
<%= will_paginate @comments %>
</div>
<%= render :partial => 'comments/new' %>
