<% form_for :user do |f| -%>
<p class="textInput"><label for="login" >Login:</label><br/>
<%= f.text_field :login, :class => 'textArea' %></p>

<p class="textInput"><label for="email" >Email:</label><br/>
<%= f.text_field :email %></p>

<p class="textInput"><label for="password">Password:</label><br/>
<%= f.password_field :password %></p>

<p class="textInput"><label for="password_confirmation">Confirm Password:</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>