<% form_for :user do |f| -%>
<p class="textInput_login"><label for="login" >Login:</label><br/>
<%= f.text_field :login, :class => 'textbox_login' %></p>

<p class="textInput_login"><label for="email" >Email:</label><br/>
<%= f.text_field :email, :class => 'textbox_login' %></p>

<p class="textInput_login"><label for="password">Password:</label><br/>
<%= f.password_field :password, :class => 'textbox_login'%></p>

<p class="textInput_login"><label for="password_confirmation">Confirm Password:</label><br/>
<%= f.password_field :password_confirmation, :class => 'textbox_login' %></p>

<p><%= submit_tag 'Sign up', :class => 'button' %></p>
<% end -%>