<%= error_messages_for 'user' %>

<table>
<tr>
<td>
<div id = "login">
	<div id = "left_side_login">
	<div id = "right_side_login">	
		<div class="t_l_login"><div class="b_l_login"><div class="b_r_login"><div class="t_r_login">
			<div id = "content">
				<p>Create an individual user account here!</p>
				<%= error_messages_for :user %>
				<% form_for :user do |f| -%>
					<%= f.hidden_field :account_type, :value => 'individual' %>
					<%= render(:partial => "signup" , :locals => {:f => f})%>
				<% end -%>
				</div>
		</div></div></div></div>
	</div></div>
</div>
</td>
<td>
	<div id = "small_box"><div id = "left_side_login"><div id = "right_side_login">	
	<div class="t_l_login"><div class="b_l_login"><div class="b_r_login"><div class="t_r_login">
		<p id="content_small_box"><%= link_to(image_tag("/images/back.gif"),{ :controller => :account, :action => :login }, :class => 'link_img') %></p>
	</div></div></div></div>
	</div></div></div>
	
	<div id = "small_box"><div id = "left_side_login"><div id = "right_side_login">	
	<div class="t_l_login"><div class="b_l_login"><div class="b_r_login"><div class="t_r_login">
		<p id="content_small_box"><%= link_to(image_tag("/images/create_organization_account.gif"),{ :action => :signup_organization }, :class => 'link_acc') %></p>
	</div></div></div></div>
</div></div></div>
</td>
</tr>
</table>
