<%= error_messages_for 'user' %>
<div id="login">
<table>
<tr>
<td>
<div id="content">
	<p>Create individual user account here!</p>
	<%= error_messages_for :user %>
	<% form_for :user do |f| -%>
		<%= f.hidden_field :account_type, :value => 'individual' %>
		<%= render(:partial => "signup" , :locals => {:f => f})%>
	<% end -%>
</td>
<td>
	<div id="small_box"><p id="content_small_box"><%= link_to(image_tag("/images/back.gif"),{ :controller => :account, :action => :login }, :class => 'link_img') %></p></div>
	<div id= "small_box"><p id="content_small_box"><%= link_to(image_tag("/images/create_organization_account.gif"),{ :action => :signup_organization }, :class => 'link_acc') %></p></div>
</td>
</tr>
</table>
</div>
</div>