<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<%= stylesheet_link_tag "login", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<head>
<%= javascript_include_tag :defaults %>
</head>
<title>CarePpl</title>
<%= error_messages_for :user %>
<body>
	<div id ="main">
		<div id = "container">
			<div id="header">
				<table>
					<tr>
						<td><%= image_tag("rails.png") %></td>
						<td><h1>CareKaro</h1>
							<h2>The Do Good Website!</h2>
						</td>
					</tr>
				</table>
			</div>
			<p id="flash_notice" class = "notice"><%= flash[:notice] %></p>
			<p id="flash_error" class= "error_notice"><%= flash[:error] %></p>
			<%= yield %>
		</div>
	</div>
</body>
</html>

