<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<%= stylesheet_link_tag "login", :media => "all" %>
<title>CarePpl</title>

<body id = "container">
			<p style="color: green"><%= flash[:notice] %></p>
	


<h3> Careppl, Inc. </h3>
<%= link_to 'Home' , :controller => '/listings', :action => :index %>
<%= link_to 'Create' , listings_path, :method => :post %>
<%= link_to 'View All Listings', all_listings_url %>
<%= link_to 'View Applied Listings', applications_url(:id => current_user.id) %>
<%= link_to 'Logout' , :controller => '/account', :action => :logout %>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
</body>
</html>